#main {
	padding-top: 40px;	
}

.shell {
  border: 1px solid rgba(255,255,255,0);
  position:relative; 
  margin-left:10px; 
  margin-bottom:100px; 
}

.turtle {
  position:absolute; 
  left:0;
  top:0;
}

.nugget {
  display:block;
  border:0;
  text-decoration:none;
  float:left;
  border-right:1px solid #fff;

}

.last {
  border:0;
}

.nugget img {
  display:block;
  border:0;
  max-width:100px;
  max-height:100px;
  cursor:pointer;
}

#nav {
	background-color: rgba(255,255,255,0.8);
	position: fixed;
	top: 0;
	left: 0;
	border-bottom: 2px solid black;
	width: 100%;
	font-size: 30px;
}

#prev {
	float: left;
	padding-left: 10px;
}

#next {
	float: right;
	padding-right: 10px;
}
